<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<!-- Only SCIM v2.0 compliance tests here -->
<suite name="SCIM-Client v2.0 compliance gaps" parallel="false">

    <parameter name="file" value="target/test-classes/testng2.properties" />

    <test name="Delete this please" enabled="false">
        <classes>
            <class name="gluu.scim2.client.SampleTest" />
        </classes>
    </test>

    <test name="Service Provider Configuration Endpoints Test" enabled="false">
        <!-- section 4 RFC 7644 -->
        <classes>
            <class name="gluu.scim2.client.servicemeta.ServiceProviderConfigTest" />
            <class name="gluu.scim2.client.servicemeta.ResourceTypesTest" />
            <class name="gluu.scim2.client.servicemeta.SchemasTest" />
        </classes>
    </test>

    <test name="Minimalist resources Test" enabled="false">
        <classes>
            <class name="gluu.scim2.client.singleresource.MinimalUserTest" />
            <class name="gluu.scim2.client.singleresource.MinimalGroupTest" />
        </classes>
    </test>

    <test name="User Resource Test" enabled="true">
        <classes>
            <class name="gluu.scim2.client.singleresource.AverageUserTest" />
        </classes>
    </test>

    <test name="Fido Devices Test" enabled="false">
        <classes>
            <class name="gluu.scim2.client.singleresource.FidoDeviceTest" />
        </classes>
    </test>

</suite>