<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="SCIM-Client" parallel="false">

    	<!-- SCIM 1 test cases -->

	<test name="ScimClientRetreivingEntities test" enabled="true">
		<classes>
			<class name="gluu.scim.client.ScimClientRetreivingEntitiesTest" />
		</classes>
	</test>

	<test name="ScimClientPersonWriteOperations test" enabled="true">
		<classes>
			<class name="gluu.scim.client.ScimClientPersonWriteOperationsTest" />
		</classes>
	</test>

	<test name="ScimClientGroupWriteOperations test" enabled="true">
		<classes>
			<class name="gluu.scim.client.ScimClientGroupWriteOperationsTest" />
		</classes>
	</test>

	<test name="ScimClientBulkOperations test" enabled="true">
		<classes>
			<class name="gluu.scim.client.ScimClientBulkOperationsTest" />
		</classes>
	</test>

	<test name="ScimClientPersonWriteObject test" enabled="true">
		<classes>
			<class name="gluu.scim.client.ScimClientPersonWriteObjectTest" />
		</classes>
	</test>

	<test name="ScimClientGroupWriteObject test" enabled="true">
		<classes>
			<class name="gluu.scim.client.ScimClientGroupWriteObjectTest" />
		</classes>
	</test>

	<test name="ExcelMapper test" enabled="true">
		<classes>
			<class name="gluu.scim.client.ExcelMapperTest" />
		</classes>
	</test>

	<!-- SCIM 2 test cases -->

	<test name="SCIM 2 UserWebServiceTestCases test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.UserWebServiceTestCases" />
		</classes>
	</test>

	<test name="SCIM 2 GroupWebServiceTestCase test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.GroupWebServiceTestCase" />
		</classes>
	</test>

	<test name="SCIM 2 ScimClientGroupWriteOperationsTest test"
		enabled="true">
		<classes>
			<class name="gluu.scim2.client.ScimClientGroupWriteOperationsTest" />
		</classes>
	</test>

	<test name="SCIM 2 ScimClientRetreivingEntitiesTest test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.ScimClientRetreivingEntitiesTest" />
		</classes>
	</test>

	<test name="SCIM 2 ScimClientPersonWriteOperationsTest test"
		enabled="true">
		<classes>
			<class name="gluu.scim2.client.ScimClientPersonWriteOperationsTest" />
		</classes>
	</test>

	<test name="SCIM 2 ScimClientBulkOperationsTest test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.ScimClientBulkOperationsTest" />
		</classes>
	</test>

	<test name="SCIM 2 UserExtensionsJsonTest test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.UserExtensionsJsonTest" />
		</classes>
	</test>

	<test name="SCIM 2 UserExtensionsObjectTest test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.UserExtensionsObjectTest" />
		</classes>
	</test>

	<test name="SCIM 2 UserFiltersTests test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.UserFiltersMainTests"/>
			<class name="gluu.scim2.client.UserFiltersNegativeTests"/>
		</classes>
	</test>

	<test name="SCIM 2 GroupFiltersTests test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.GroupFiltersMainTests"/>
			<class name="gluu.scim2.client.GroupFiltersNegativeTests"/>
		</classes>
	</test>

	<test name="SCIM 2 UserObjectTests test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.UserObjectTests"/>
			<class name="gluu.scim2.client.UserObjectAttributesFilterTests"/>
		</classes>
	</test>

	<test name="SCIM 2 GroupObjectTests test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.GroupObjectTests"/>
			<class name="gluu.scim2.client.GroupObjectAttributesFilterTests"/>
		</classes>
	</test>

	<test name="SCIM 1.1 EmailSyncTests test" enabled="true">
		<classes>
			<class name="gluu.scim.client.EmailSync1Tests"/>
			<class name="gluu.scim.client.EmailSync2Tests"/>
			<!--<class name="gluu.scim.client.EmailSyncRetrieveTests"/>-->
		</classes>
	</test>

	<test name="SCIM 2 EmailSyncTests test" enabled="true">
		<classes>
			<class name="gluu.scim2.client.EmailSync1Tests"/>
			<class name="gluu.scim2.client.EmailSync2Tests"/>
			<!--<class name="gluu.scim2.client.EmailSyncRetrieveTests"/>-->
		</classes>
	</test>

	<test name="Person Required Params test" enabled="true">
		<classes>
			<class name="gluu.scim.client.PersonRequiredParamsTests"/>
			<class name="gluu.scim2.client.PersonRequiredParamsTests"/>
		</classes>
	</test>

</suite>
